@font-face {
  font-family: "Agrandir";
  font-weight: normal;
  src: url("../fonts/agrandir-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Agrandir";
  font-weight: bold;
  src: url("../fonts/agrandir-bold.woff2") format("woff2");
}
