@font-face {
  font-family: "OreloVariable";
  src: url("../fonts/orelo.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "OreloVariable";
  src: url("../fonts/orelo-bold.otf") format("opentype");
  font-weight: bold;
}
